html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  background-color: #333;
  border-color: #333;
  border-style: solid;
  color: #fff;
  font-size: 1.125rem;
  text-decoration: none;
}

.btn-subtle {
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  background-color: #ccc;
  border-color: #ccc;
  border-style: solid;
  color: #fff;
  font-size: 1.125rem;
  text-decoration: none;
}

.btn-ghost {
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  background-color: #fff;
  border-color: #000;
  border-style: solid;
  color: #333;
  font-size: 1.125rem;
  text-decoration: none;
}

.btn-warning {
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  background-color: #f33;
  border-color: #f33;
  border-style: solid;
  color: #fff;
  font-size: 1.125rem;
  text-decoration: none;
}

.btn-small {
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  background-color: #333;
  border-color: #333;
  border-style: solid;
  color: #fff;
  font-size: .875rem;
  text-decoration: none;
}

.btn-small-sublte {
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  background-color: #ccc;
  border-color: #ccc;
  border-style: solid;
  color: #fff;
  font-size: .875rem;
  text-decoration: none
}

.btn-small-ghost {
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  background-color: #fff;
  border-color: #000;
  border-style: solid;
  color: #333;
  font-size: .875rem;
  text-decoration: none
}

.btn-small-warning {
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  background-color: #f33;
  border-color: #f33;
  border-style: solid;
  color: #fff;
  font-size: .875rem;
  text-decoration: none
}

.btn-big {
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  background-color: #333;
  border-color: #333;
  border-style: solid;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.btn-big-sublte {
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  background-color: #ccc;
  border-color: #ccc;
  border-style: solid;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none
}

.btn-big-ghost {
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  background-color: #fff;
  border-color: #000;
  border-style: solid;
  color: #333;
  font-size: 1.5rem;
  text-decoration: none
}

.btn-big-warning {
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  background-color: #f33;
  border-color: #f33;
  border-style: solid;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none
}
